@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

#text {
  font-size: 24px;
  font-family: Arial, sans-serif;
  transition: text-shadow 0.5s ease-out;
}

#text:hover {
  text-shadow: 0 0 0.1em black;
}

/* Animate the text shadow on hover */
#text:hover {
  animation: hover-effect 2s linear infinite;
}

@keyframes hover-effect {
  0% {
    text-shadow: 0 0 0.1em black;
  }
  20% {
    text-shadow: 0 0 0.2em black;
  }
  40% {
    text-shadow: 0 0 0.3em black;
  }
  60% {
    text-shadow: 0 0 0.4em black;
  }
  80% {
    text-shadow: 0 0 0.5em black;
  }
  100% {
    text-shadow: 0 0 0.1em black;
  }
}
