@font-face{
    font-family:"Reconnect-font";
	src:
    	local("Reconnect_Regular_Font"),
    	url("../public/Reconnect_Regular_Font.otf") format("opentype");
}
html, body {
    background-color:white;
    margin:0%;
    padding:0%;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    font-family:"Arial", sans-serif;
    font-weight: 600;
}
h1{
    font-family: "Reconnect-font";
    color:black;
}
h2{
    font-family: "Reconnect-font";
    color:black;
    margin-bottom: 0;
}
h3{
    font-family: "Reconnect-font";
    color:black;
}
p {
    font-family: "inter";
    font-size: 1.125rem;
    line-height: 1.5;
    color:black;
}
