header{
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	background-color: transparent;
  	border-bottom: solid 1px #4158D9;
    
}
.navbar2{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-right: 2%;
}
#logo-a{
	width:15%;
	margin-right:10%;
}

.nav-item{
	font-size:40px;
	color:white;
	margin: 2% 2% 3% 2%;
  	-webkit-text-stroke: 2px #4158D9;
}
#nav-present{
	-webkit-text-stroke: 2px #ECD14E;
	color:#ECD14E;
	letter-spacing: .1rem;
}
#nav-present:hover{
	color:white;
	letter-spacing: .1rem;
}
.nav-item:hover{
        color:#4158D9;
}
#nav-download{
	font-size:40px;
	color:#ECD14E;
	-webkit-text-stroke: 2px #ECD14E;
	letter-spacing: .1rem;
}
#nav-download:hover{
	color:white;
}

.core{
	margin:0% 5% 0% 5%;
}
/*TEAM STUDIO*/ 
.row{ /*ALSO USE IN CREDITS*/
	display:flex;
	justify-content: space-around;
	flex-direction: row;
	padding:0% 5% 0% 5%;
}
.row2{
	display:flex;
	justify-content: center;
	flex-direction: row;
}
#team{
	margin:5%;
	display:flex;
	flex-direction: column;
	justify-content: center;

}
#team img{
	border: 2px solid transparent;
	positio:relative;
}

.p-name{
	margin:0 0 0 35%;
	letter-spacing: 0.1rem;
}
/* GAME */
.core-div{
	display:flex;
	flex-direction: row;
	justify-content: center;
}
.core-div div{
	display:flex;
	flex-direction: column;
	justify-content: center;
	width : 40%;
}
#img-planet{
	width: 100%;
}


/* download */
.rowgame{ /*ALSO USE IN CREDITS*/
	display:flex;
	justify-content: space-evenly;
	flex-direction: row;
	margin:5% 0% 5% 0%;

}
.coregame{
	margin:0% 5% 0% 5%;
}
.column{
	display:flex;
	flex-direction: column;
	justify-content: center;
}
#version-h3{
	margin-left:0px;
}
.dwl-button{
	background-color:#4158D9;
	border: solid 1px #4158D9;
	min-width: 200px;
	height: auto;
	padding: 10% 5% 10% 5%;
}
.dwl-a{
	font-size:30px;
	color:white;
	margin: 2%;
  	-webkit-text-stroke: 2px #4158D9;
  	letter-spacing: 0.1rem;
}
.dwl-a2{
	display:flex;
	justify-content: center;
	font-size:20px;
	color:white;
	margin: 2%;
  	-webkit-text-stroke: 2px #4158D9;
  	letter-spacing: 0.1rem;
}
.dwl-button:hover{
	background-color:white;
	>.dwl-a{
		color:#4158D9;
	}
}

.dwl-button-r{
	background-color:white;
	border: solid 1px white;
	width:120%;
	height:120%;
}
.dwl-a-r{
	font-size:20px;
	color:#4158D9;
	margin: 2%;
  	letter-spacing: 0.1rem;
}
.dwl-button-r:hover{
	background-color:#4158D9;
	>.dwl-a-r{
		color:white;
	}
}
