header{
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	background-color: transparent;
  	border-bottom: solid 1px #4158D9;
    
}
.navbar2{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#logo2{
	width:20%;
	padding-right:20%;
	
}

.nav-item{
	font-family: "Climate-Crisis79";
	font-size:40px;
	color:white;
	margin: 2%;
  	-webkit-text-stroke: 2px #4158D9;
}
#nav-present{
	-webkit-text-stroke: 2px #ECD14E;
	color:#ECD14E;
	letter-spacing: .1rem;
}
#nav-present:hover{
	color:white;
	letter-spacing: .1rem;
}
.nav-item:hover{
        color:#4158D9;
}
#nav-download{
	font-size:40px;
	color:#ECD14E;
	-webkit-text-stroke: 2px #ECD14E;
	letter-spacing: .1rem;
}
#nav-download:hover{
	color:white;
}

.core{
	margin:0% 5% 0% 5%;
}
/*TEAM STUDIO*/ 
.row1{ /*ALSO USE IN CREDITS*/
	display:flex;
	justify-content: space-around;
	flex-direction: row;
	padding:0% 5% 0% 5%;
}
.row2{
	display:flex;
	justify-content: center;
	flex-direction: row;
}
#team{
	margin:5%;
	display:flex;
	flex-direction: column;
	justify-content: center;

}
#team img{
	border: 2px solid transparent;
	positio:relative;
}

.p-name{
	margin:0 0 0 35%;
	font-family: "Climate-Crisis79";
	letter-spacing: 0.1rem;
}

/* CREDITS */
.container-lc{
	display:flex;
	justify-content:center ;
	height:30%;
	width:40%;
	margin:5%;
}

#logo-unity{
	padding-top:15%;
}
#logo-rider{
	width:90%;
	height:90%;
}
#logo-github{
	width:60%;
	height:60%;
}
#logo-vercel{
	padding-top:20%;
}
#logo-discord{
	width:65%;
	height: 80%;
}
#logo-sublimtext{
	width:80%;
	height: 80%;
}



